/* global */
main{
    font-family: 'Jost', sans-serif;
}




/* header */
#header{
    transition: all 0.5;
}
#header .bg-body-tertiary {
    background-color: rgba(40, 58, 90, .9)!important;
    padding: 15px 0;
    background: transparent;
}
#header .navbar-brand{
    color: aliceblue;
    font-size: 30px;
}
#header .navbar-expand-lg .navbar-nav .nav-link{
    color: white;
}
#header .navbar-collapse{
    flex-grow: 0;
}
#header .navbar-expand-lg .navbar-collapse{
    justify-content: space-evenly;
}
#header .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
    justify-content: space-around;
}
#header .navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 30px;
}
/* hover btn */
#header .btn-outline-success{
    color: white;
}
#header .btn-outline-success:hover{
    background: #47b2e4;
}
#header .btn{
    border: 2px solid #47b2e4;
    border-radius: 50px;
    padding: 8px 20px;
}
/* cover section */
#hero{
    background: #37517e;
}
#hero h4{
    color: rgba(255, 255, 255, 0.6);
}
#hero .btn{
    border-radius: 50px;
    padding: 10px 28px 11px 28px;
}
#hero .btn-primary{
    background: #47b2e4;
    border: none;
}
#hero .btn-primary:hover{
    background: #36a9df;
}#hero a{
    color: white;
    text-decoration: none;
}
#hero svg:hover{
    color: #47b2e4;
}
/* img animate */
#hero .animated{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@keyframes up-down{
    from{
        transform: translatey(10px);
    }
    to{
       transform: translatey(-10px);
    }
}
/* cliens section */
.cliens{
    padding: 12px 0;
}
.cliens-bg{
    background-color: #f3f5fa;
}
#cliens img{
    max-width: 45%;
    filter: grayscale(100);
    padding: 15px 0;
}
#cliens .client-1:hover img {
    transition: all 0.4s ease-in-out;
    transform: scale(1.2);
    filter: grayscale(0);
}
#cliens .client:hover img {
    transition: all 0.4s ease-in-out;
    transform: scale(1.2);
    filter: grayscale(0);
}